body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin: 0.5em auto;
    width: 670px;
    border: 5px groove rgb(96, 25, 129);
    border-radius: 20px;
    padding: 0 2em 1em;
    background: rgb(232, 209, 247)
}


h1 {
    color: black;
    margin-bottom: .5em;
}

label {
    float: left;
    width: 11em;
    text-align: right;
}

input {
    margin-left: 1em;
    margin-bottom: 0.5em;
}

input[text] {
    border-style: groove;
}
#monthly_payment_label{
    font-size: larger;
}
output {
    margin-left:1em;
    margin-bottom: 0.5em;
    font-size: larger;
}


.big {
    font-size: 300%;
}

.bottom_of_group {
    margin-bottom: 2em;
}


.buttons {
    border-radius: 8px;
    background-color: gold;
    background-image: linear-gradient(to bottom right, blue, purple, hotpink);
    padding: 2px;
    width: 80px;
    height: 25px;
    color: white;
}

.buttons:hover {
    background: hotpink;
}